/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
.card {
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.container-form{
  padding: 20px;
}
.btn{
  width: 100%;
  background-color: #22395b;
  border: none;
  color: #f1f1f1;
}
[type=button], [type=submit], button {
  display: inline-block;
  font-weight: 400;
  color: #f1f1f1;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #22395b;
  border: 1px solid  #22395b;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 3px;
  transition: all .3s;
}
[type=button]:focus, [type=button]:hover, [type=submit]:focus, [type=submit]:hover, button:focus, button:hover {
  color: #fff;
  background-color:#22395b;
  text-decoration: none;
}
.error{
  display: none;
  color: red;
  width: 100%;
}
.success{
  display: none;
  color: green;
  width: 100%;
}
.loading{
  display: none;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  width: 100%;
  text-align: center;
  margin: 20px;
}